@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bree+Serif&family=Chakra+Petch:ital,wght@0,500;0,600;1,300&family=Fraunces&family=Inconsolata:wght@400;500;600;900&family=Josefin+Sans:ital,wght@0,700;1,400&family=Livvic:ital,wght@0,600;0,700;1,400;1,500;1,700&family=Moo+Lah+Lah&family=Orbitron:wght@400;800&family=Permanent+Marker&family=Poppins:wght@400;500;600;700;800&family=Road+Rage&family=Roboto:ital,wght@0,700;1,900&family=Rubik+Beastly&family=Space+Mono:ital,wght@0,700;1,700&family=Wallpoet&display=swap');

body{
  box-sizing: border-box;
  background-color: black;
  margin-top: 75px;
  font-family: 'Inconsolata', monospace;
}

.movies__card {
  width: 20rem;
  background-color: black;
  color: #fff;
  border: 2px solid #fff;
}

.movies__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin: -15px;
  margin-top: 15px;
}

.movies__item {
  min-width: 333px !important;
  margin-bottom: 15px;
}

ul{
  list-style: none;
}

input{
  min-height: 50px;
}

select{
  min-height: 50px;
}

button{
  min-height: 50px;
}

.selectForm{
  position: fixed;
  z-index: 1;
  background-color: black;
}

.resultBox {
  position: fixed;
  z-index: 1;
 background-color: black;
}

.site-header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
}

.bookmark__list{
  width:500px;
  min-height: 100%;
  list-style: none;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.bookmark__list .bookmark__item{
  margin: 2px;
  background-color: antiquewhite;
  width:480px;
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
  font-size: 18px;
}

.bookmark__list .bookmark__delete{
  margin-left: 20px;
  border-radius: 5px;
  min-height: 30px;
  background-color: transparent;
}

.bookmark__list .bookmark__delete:hover{
  background-color: red;
  color: #fff;
}

.bookmark__button{
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  min-height: 30px;
  margin: 8px;
}

.bookmark__button:hover{
  background-color: red;
}